{% render 'partials/head.liquid', title: 'Qatar Museums' %}

{% render 'partials/header.liquid' %}

{% if lang == 'en' %}

    <main class="main-home">
       

        <ul class="art_images">
            {% for artwork in artwork %}
                <li style="view-transition-name: image-{{ artwork.id }}">
                <a href="/en/object/{{ artwork.id }}">
                    <picture>
                        <source
                            srcset="
                                https://fdnd-agency.directus.app/assets/{{ artwork.image }}?format=avif&width=250 250w, 
                                https://fdnd-agency.directus.app/assets/{{ artwork.image }}?format=avif&width=350 350w,
                                https://fdnd-agency.directus.app/assets/{{ artwork.image }}?format=avif&width=450 450w,
                                https://fdnd-agency.directus.app/assets/{{ artwork.image }}?format=avif&width=550 550w  
                            "
                            sizes="
                            (max-width: 250px) 250px,
                            (max-width: 350px) 350px,
                            (max-width: 450px) 450px,
                            (max-width: 550px) 550px
                            "
                            type="image/avif" /> <!-- Voor browsers die avif ondersteunen, 250w geeft de afbeeldingsbreedte in pixels, sizes: als het scherm 250px breed is, kiest de browser de 250px-afbeelding-->
                            
                            <!--Fallback voor als de browser geen avif ondersteunt, images worden alleen geladen als ze in de viewport komen met loading=lazy -->
                             <img 
                                src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}?format=png&width=300" 
                                alt="{{ artwork.title }}"
                                width="{{ artwork.width }}"
                                height="{{ artwork.height }}"
                                loading="lazy">      
                    </picture>
                </a>
                </li>
            {% endfor %}
        </ul>

        <search class="zoeken">
            <form class="form-search-collection">
                <label>
                    <input type="search" placeholder="SEARCH THE COLLECTION">
                </label>

                <p class="button-search">
                    <button type="submit" class="search--keyword-button"></button>
                </p>
            </form>
        </search>
    </main>

{% elsif lang == 'ar'%}
    <main class="main-home">

        <ul class="art_images">
            {% for artwork in artwork %}
                <li>
                    <a href="/ar/object/{{ artwork.id }}/ar">
                        <img src="https://fdnd-agency.directus.app/assets/{{ artwork.image }}" alt="images of artwork in qatar " width="300px">        
                    </a>
                </li>
            {% endfor %}
        </ul>
        
        <search class="zoeken">
            <form class="form-search-collection-ar">
                <label>
                    <input type="search" placeholder="ابحث في المجموعة">
                </label>
        
                <p class="button-search">
                    <button type="submit" class="search--keyword-button" title="Submit button"></button>
                </p>
            </form>
        </search>
    </main>

{% else %}
    <section class="title">
        <h1 class="title-acquisition">Page not found</h1>
        
        <p class="paragraph-acquisition">Looks like this page doesn’t exist in this language.</p>
    
        <a class="return-homepage" href="/">Homepage</a>
    
    </section>
    
{% endif %}
    